---
layout: splash
---
<!-- QUICK ACTIONS (IMPORTANT FOR CONVERSION) -->
  <section class="episode-actions">
    <a href="https://www.youtube.com/@PhilPhails?sub_confirmation=1"
       target="_blank"
       rel="noopener noreferrer"
       class="btn btn--inverse btn--large">
      Subscribe on YouTube
    </a>
    <a href="https://www.paypal.com/donate/?hosted_button_id=GGGL6YZNFGLCC"
       class="btn btn--light-outline btn--large">
      Support the Project
    </a>

  </section>

  <!-- CONTENT -->
  <section class="episode-content">
    {{ content }}
  </section>

{% include episode-footer.html %}